html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.App{
  background-color: black;
}
body {
  color: white;
  font-family: Arial;
  }
  *
  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  :root
  {
    --gray-black:#222;
    --main-color:#eb4a4c;
    --secondary-color:#9b3132;
    --gray:#8a8a8a;
  
  }
